.movie-card
  box-shadow: 1px 1px 1.25rem 0 rgba(black, .5)
  box-sizing: border-box
  display: flex
  flex-grow: 1
  margin: 0.6rem
  .poster
    height: 17.9rem
    &-image
      width: 11.7rem
      height: 100%
      object-fit: cover
  .info
    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: space-between
    .popularity
      width: 60px
      height: 60px
      margin-right: 1rem
      .highcharts-credits
        display: none

    .title-wrapper
      min-height: 3.25rem
      padding: 0.6rem 1.25rem
      display: flex
      align-items: center

    .title
      font-size: 1rem
      margin: 4px 0
    .release-date
      display: block
      color: rgba(0,0,0,0.6);
      line-height: 1em
      font-size: 0.9rem

    
    .description
      padding: 0 1.25rem
      flex-grow: 1
      color: #4d4d4d
      font-size: 0.9em
      line-height: 1.2em
      margin-top: 30px
    .more-info
      padding: 1rem
      border-top: 1px solid #e3e3e3
    .more-info-link
      text-decoration: none
      font-size: 0.9rem
      color: black
      &:hover
        text-decoration: underline
.list
    flex-basis: 100%
.tiles
    flex-basis: 45%

@media screen and (max-width: 992px)
  .tiles
    flex-basis: 100%

@media screen and (max-width: 768px)
  .movie-card
    .info
      .title-wrapper
        display: flex
        flex-direction: column
        align-items: flex-start
      .popularity
        order: 1
      .description
        margin-top: 1px